{% extends 'index.html' %}
{% block content %}
    <div class="flex-wrapper reverse-when-small">
        {% include 'results.html' %}
        {% include 'statistics.html' %}
    </div>
    <section>
        <h3>Wyniki szczegółowe</h3>
        <div class="flex-wrapper flex-left horizontal-space margin-auto col-2">
            {% for r in more.links %}
            <div class="col-3">
                <a href="{{ r.url }}">{{ r.nazwa }}</a>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}