{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wybory Prezydenta Rzeczypospolitej Polskiej 2000">
    <title>Wybory Prezydenta Rzeczypospolitej Polskiej 2000</title>

    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>

<body>
    <header class="center-text">
        <div class="shrinkwrap">
            <a href="/index"><h1>Wybory Prezydenta Rzeczypospolitej Polskiej 2000</h1></a>
        </div>
        <div>
            {% if auth == True %}
                <a href="#" id="logout">Logout</a>
            {% else %}
                <a href="#" id="login">Login</a>
            {% endif %}
            <a href="#" id="search_btn">Search</a>
            <!--<form method="get" action="/search">
                <input type="text" name="q">
                <input type="submit" value="Szukaj">
            </form>-->
        </div>
    </header>

    <main>
        {% block content %}
        <div class="flex-wrapper">
            {% include 'map.html' %}
            {% include 'statistics.html' %}
            {% include 'results.html' %}
        </div>

        <div id="results-wrapper" class="flex-wrapper">
        </div>
        <section id="more-wrapper" style="display: none">
            <h3>Wyniki szczegółowe</h3>
            <div id="more" class="flex-wrapper flex-left horizontal-space margin-auto col-2">
                {% for r in more.links %}
                <div class="col-3">
                    <a href="{{ r.url }}">{{ r.nazwa }}</a>
                </div>
                {% endfor %}
            </div>
        </section>
        {% endblock %}
    </main>
    <div class="dimmer" id="popup-wrapper">
        <div class="popup" id="popup">
            <a href="#" onclick="setVisibility('popup-wrapper', false); return false">[x] CLOSE</a>
            <div id="popup-login">
                
            </div>
            <div id="popup-search">
                <form id="search-form" onsubmit="return searchSubmit()">
                    <center><label>Szukaj</label></center><br/>
                    <input type="text" name="q">
                    <button type="submit">Szukaj</button>
                </form>
                <div id="search-results">
                </div>
            </div>
            <div id="popup-edit">
            </div>
        </div>
    </div>
    <script src="{% static "site.js" %}"></script>    
</body>

</html>