            <section>
                <div>
                    <h3>Zbiorcze statystyki głosowania</h3>
                    <table class="statystyki">
                        <tr>
                            <td>Liczba uprawnionych do głosowania</td>
                            <td id="stats.uprawnieni">{{ stats.uprawnieni }}</td>
                        </tr>
                        <tr>
                            <td>Liczba kart wydanych</td>
                            <td id="stats.wydane">{{ stats.wydane }}</td>
                        </tr>
                        <tr>
                            <td>Liczba głosów oddanych</td>
                            <td id="stats.oddane">{{ stats.oddane }}</td>
                        </tr>
                        <tr>
                            <td>Liczba głosów ważnych</td>
                            <td id="stats.wazne">{{ stats.wazne }}</td>
                        </tr>
                        <tr>
                            <td>Liczba głosów nieważnych</td>
                            <td id="stats.niewazne">{{ stats.niewazne }}</td>
                        </tr>
                        <tr>
                            <td>Frekwencja</td>
                            <td id="stats.frekwencja">{{ stats.frekwencja }}%</td>
                        </tr>
                    </table>
                </div>
            </section>